{% extends 'base2.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}
{% block javascripts %}

    <script type="text/javascript" src="{{ asset('scriptpanier.js') }}" defer />



    {{ encore_entry_script_tags('app') }}

{% endblock %}

{% block body %}
    <body>
    <style>
        #etapePanier1{
            width: 100vw;
            height: 5vh;
            display:flex;
            justify-content: center;
            align-items: center;
        }
        .grandEtape{
            font-size: 20px;
            font-weight: bolder;
            margin: 30px;
        }
        .petitEtape{
            font-size: 15px;
            color:rgb(156, 157, 158);
            margin:30px;
            opacity:0.7;
        }
        tr{
            border-collapse: collapse;
        }
        td {
            background-color: #ffffff;
            font-size: 30px;
            width:70vw;
            font-weight: bolder;
        }
        th {
            color:#D5DDE5;;
            background:#1b1e24;
            border-bottom:4px solid #9ea7af;
            border-right: 1px solid #343a45;
            font-size:23px;
            font-weight: 100;
            padding:24px;
            text-align:left;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            vertical-align:middle;
        }
        .imgPanierRecap{
            width:30%;
            margin-left: 100px;
        }
        .PrixUnitairePanier{
            color: red;
            font-size: 30px;
        }
        .button-27 {
            display: flex;
            appearance: none;
            background-color: #000000;
            border: 2px solid #1A1A1A;
            border-radius: 15px;
            box-sizing: border-box;
            color: #FFFFFF;
            cursor: pointer;
            font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
            font-size: 16px;
            font-weight: 600;
            line-height: normal;
            min-height: 60px;
            min-width: 0;
            outline: none;
            padding: 16px 24px;
            text-align: center;
            text-decoration: none;
            transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            margin: auto;
            will-change: transform;
        }

        .button-27:disabled {
            pointer-events: none;
        }

        .button-27:hover {
            box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
            transform: translateY(-2px);
        }

        .button-27:active {
            box-shadow: none;
            transform: translateY(0);
        }
    </style>
<div id="etapePanier1">
    <p><span class="grandEtape">1. Ma Commande</span><span class="petitEtape">2. Mes Coordonées</span><span class="petitEtape">3. Paiement</span></p>
</div>
    <form action="/manif" method="post">
        <input type="hidden" name="liste" id="liste">
        <input type="submit" class="button-27" value="Retour">
    </form>


    <hr>

    <table>

        <tbody id="zone">



        </tbody>

        <tfoot><tr><td id="bas" colspan="3"></td><td>Prix total de la commande <span id="total">0</span>€</td></tr></tfoot>

    </table>


    </table>

    {% if app.user %}
    <hr>

    <form action="/coordone" method="post">
        <input type="hidden" name="liste" id="liste">
        <input type="submit" class="button-27" value="Valider ma commande.">
    </form>

    <hr>
    {% else %}
    <hr>

    <form action="/login" method="post">
        <input type="hidden" name="liste" id="liste">
        <input type="submit" class="button-27" value="Connectez vous avant de continuer la commande.">
    </form>

    <hr>
    {% endif %}



























    </body>
{% endblock %}
