{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}
{% block javascripts %}

    <script type="text/javascript" src="{{ asset('scriptpanier.js') }}" defer />


    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
    <body>
    <style>
        th {
            color:#D5DDE5;;
            background:#1b1e24;
            border-bottom:4px solid #9ea7af;
            border-right: 1px solid #343a45;
            font-size:23px;
            font-weight: 100;
            padding:24px;
            text-align:left;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            vertical-align:middle;
        }
    </style>

    <a href=manif>Retour</a>


    <hr>

    <table>
        <thead>
        <tbody id="zone">
        <th>article</th>
        <th>quantite</th>
        <th>prix unitaire</th>
        <th>prix total</th>

        </tbody>
        </thead>
        <tfoot><tr><td id="bas" colspan="3"></td><td><span id="total">0</span>€</td></tr></tfoot>

    </table>


    </table>
    <hr>
    <form action="finalisation.php" method="post">
        <input type="hidden" name="liste" id="liste">
        <input type="submit" value="Valider ma commande.">
    </form>
    <hr>

























    </body>
{% endblock %}
