{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}
{% block javascripts %}

    <script type="text/javascript" src="{{ asset('scriptpanier.js') }}" defer />


    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
    <body>
    <style>
        #etapePanier1{
            width: 100vw;
            height: 5vh;
            display:flex;
            justify-content: center;
            align-items: center;
        }
        .grandEtape{
            font-size: 20px;
            font-weight: bolder;
            margin: 30px;
        }
        .petitEtape{
            font-size: 15px;
            color:rgb(156, 157, 158);
            margin:30px;
            opacity:0.7;
        }
        th {
            color:#D5DDE5;;
            background:#1b1e24;
            border-bottom:4px solid #9ea7af;
            border-right: 1px solid #343a45;
            font-size:23px;
            font-weight: 100;
            padding:24px;
            text-align:left;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            vertical-align:middle;
        }
        #TouteLaPagePanier{
            width: 100vw;
            background-color: aqua;
            display: flex;
            flex-wrap: wrap ;
            height: 70vh;
            justify-content: space-around;
        }
        .LePanierDiv{
            width: 65vw;
            height: 50vh;
            background-color: blueviolet;
            color: aliceblue;
            border-radius: 8px 8px 8px 8px;
            display: flex;
            flex-wrap: wrap;

        }
        .LeRecapDiv{
            width: 25vw;
            height: 30vh;
            background-color: black;
            color: aliceblue;
            display: flex;

            flex-wrap: wrap;

        }
        .CoteImgDuPanier{
            border-radius: 8px 0px 0px 0px;
            width: 30vw;
            background-color: darkorange;
            display: flex;
            align-items: center;
            justify-content: center;

        }
        .CoteImgDuPanier2{
            width: 50%;
        }



        .TouteLesInfosPanier{
            width: 35vw;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            background-color: springgreen;

        }
        .Les_textes_mettre{
            width: 20vw;
            background-color: hotpink;


        }





    </style>
<div id="etapePanier1">
    <p><span class="grandEtape">1. Ma Commande</span><span class="petitEtape">2. Mes Coordonées</span><span class="petitEtape">3. Paiement</span></p>
</div>
    <a href=manif>Retour</a>


    <hr>

    <table>
        <thead>
        <tbody id="zone">
        <th>affiche</th>
        <th>article</th>
        <th>quantite</th>
        <th>prix unitaire</th>
        <th>prix total</th>

        </tbody>
        </thead>
        <span id="total">0</span>euros

    </table>




    </table>

    <hr>


    <a href="/sae/public/index.php/coordone">
        <input type="hidden" name="liste" id="liste">
        <input type="submit" value="Valider ma commande.">
    </a>
    <hr>

























    </body>
{% endblock %}
