{% extends 'base.html.twig' %}

{% block title %}Hello ManifController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello le footballer</h1>

    tes pas down
    <ul>
        <li>pipi</a></code></li>
        <li>papa</a></code></li>
    </ul>
</div>
{% endblock %}
