@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');




.BoutonFiniLePaiement{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100vw;
    margin-top:50px;
    margin-bottom:20px;
}
.button-23 {
    margin-bottom:30px;
    background-color: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;

    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
}

.button-23:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
}

.button-23:active {
    background-color: #F7F7F7;
    border-color: #000000;
    transform: scale(.96);
}

.button-23:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
}
.button-84 {
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(#464d55, #25292e);
    border-radius: 8px;
    border-width: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 18px;
    height: 52px;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 0 32px;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 150ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-84:hover {
    box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
    opacity: .85;
}

.button-84:active {
    outline: 0;
}

.button-84:focus {
    box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

@media (max-width: 420px) {
    .button-84 {
        height: 48px;
    }
}
.fa-cart-shopping{
    font-size: 50px;
    color: white;
}
.fa-user{
    font-size: 50px;
    color: white;
}
.rondChiffrePanier{
    font-size: 30px;
    padding:0.5rem;
    background-color: BLACK;
    border-radius: 30px 30px 30px 30px;
}

#heroImage{
    width: 100vw;


}
#heroImage img{
    width: 100vw;
    margin-top: -17px;
}
#accueil{
    width:100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
}
#noel{
    display: flex;
    width: 100vw;
    height: fit-content;
    flex-wrap: wrap;
    justify-content: left;
}
#noel h1{

    margin-top: 50px;
    margin-left: 15.5vw;
    font-size: 30px;
    font-family: "Fjalla One";

}
#encadre{
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    margin-bottom: 2rem;
}






.carte img{
    box-shadow: 2px 2px 2px 2px rgb(184, 184, 184);
    width:18vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    border-radius: 8px 8px 0px 0px;
    width: 100%;
}
.fa-calendar-days{
    color: rgb(75, 73, 74);

}
.fa-location-dot{
    color: rgb(75, 73, 74);
}


.affiche{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px 20px;

}
.carte {
    width: 15rem;
}
.carte > img{
    width: 100%;
}
.carteBas{
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 8px 8px;
    box-shadow: 2px 2px 2px 2px rgb(184, 184, 184);
    width: 15rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.carteBas p{

    margin-left: 5px;
}
.fa-star{
    color: crimson;
    margin-bottom: 5px;
}

.prix{
    color: crimson;
    font-size: 20px;
}
.p1{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bolder;
    font-family: "Fjalla One";
}
.p2{
    color: rgb(0, 0, 0);

    font-family: "Fjalla One";
}
.p3{
    color: rgb(0, 0, 0);
    font-family: "Fjalla One";
}
.p4{
    color: rgb(0, 0, 0);
    font-family: "Fjalla One";
}
.parti2{
    width: 100vw;
    display: flex;

    margin-top: 50px;
    justify-content: center;
    flex-wrap: wrap;


}
.partenaire{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px 10px;
    justify-content: center;
    align-items: center;


    width: 20vw;
    height: 15vh;

}
.partenaire img{
    width: 100%   ;

    background-size: cover;
}

#partenaireTitre{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100vw;
    height:10vh;
}
#partenaireTitre h2{
    color: rgb(0, 0, 0);
    margin-top: 50px;

    font-size: 40px;
    font-weight: bolder;
    font-family: "Fjalla One";

}
#partenaireTitre h3{
    color: rgb(0, 0, 0);
    margin-top: 50px;

    font-size: 40px;
    font-weight: bolder;
    font-family: "Fjalla One";

}
.trait{
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    height: 1px;
    background-color: #868686;
}
.partenaire2{

    display: flex;
    flex-direction: column;

    margin: 10px 10px;
    justify-content: center;
    align-items: center;


    width: 20vw;
    height: 15vh;

}
.partenaire2 img{
    width:60%;


    background-size: cover;
}
.hehe{
    width: 20vw;
    font-size: 20px;
    font-weight: bolder;
    height: 20vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
@media screen and (max-width:600px) {
    .prix{
        color: rgb(211, 185, 41);
    }
    .affiche{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 10px 20px;

    }
    #encadre{
        display: flex;
        width: 100vw;
        flex-wrap: wrap;
        justify-content: center;

    }

}


/* Css des 2 pages Coordonée et Paiement du tunel de commande */





.PagePaiement{
    display: flex;
    justify-content: center;
}
.entier{
    width: 70vw;
    background-color: white;
    border: solid;
    border-radius: 7px 7px 7px 7px;
    margin-top: 10rem;

}
.haut{
    background: linear-gradient(157deg,#e90964,#ea215c 34%,#eb3059 49%,#ec4354 59%,#ef6348 67%,#f3833f 79%,#f7a24d 86%,#fddb67 97%);    height: 8vh;
    display: flex;
    align-items: center;
    border-radius: 6px 6px 0px 0px;

    justify-content: center;
}
.haut p{
    font-size: 20px;
    font-weight: bolder;
    color: white;
}
.infoPaiement{
    margin-top: 20px;
    margin-left: 40px;
    font-size: 17px;
    font-weight: bold;
}

.traitVertical{
    margin-top: 20px;
    height: 0.3vh;
    width: 59vw;
    background: linear-gradient(157deg,#e90964,#ea215c 34%,#eb3059 49%,#ec4354 59%,#ef6348 67%,#f3833f 79%,#f7a24d 86%,#fddb67 97%);

}
.infoTout{
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    align-items: center;
    justify-content: center;

}
.texteCarte{
    width: 15vw;

    margin-left: 20px;

}
.texteCarte p{
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 22px;
}
.lesInputs{
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 35vh;

}
.RenseigneStp{
    margin-top: 5px;
    height: 4.7vh;

}
.selecteSTP select{
    margin-right: 42px;
}
.carteBleu{
    width: 30vw;

}
.carteBleu p{

    font-size: 20px;
    font-weight: bolder;
}
#etapePanier1{
    width: 100vw;
    height: 5vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.grandEtape{
    font-size: 20px;
    font-weight: bolder;
    margin: 30px;
}
.petitEtape{
    font-size: 15px;
    color:rgb(156, 157, 158);
    margin:30px;
    opacity:0.7;
}

.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-85:before {
    content: "";
    background: linear-gradient(
            45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}
.cbAccepter{
    width:100%;

}



#LaPageCoo{
    display: flex;
    justify-content: center;
}





#ajouteradresse{
    width: 48vw;
    align-items: flex-end;
    justify-content: space-evenly;
    display: flex;
    border: solid 2px #000000;
    border-radius: 10px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
}

.carrebleu {

    width: 35vw;
    display: flex;
    border: solid 2px #000000;
    border-radius: 10px;
    background-color: #EF6A45;
    opacity: 0.9;
    justify-content: space-between;
    align-items: center;


}.autoriser {
     border-radius: 10px;
     background-color: rgb(255, 255, 255);
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     height: 6vh;
     width: 8vw;
     margin-top: 26px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-right: 24px;
 }
.PaysRegion h3 {
    padding: 18px;
}
.Nomcomplet h3{
    padding: 18px;

}
input.texte {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 18px;
    width: 35vw;
}
.numerotelephone {
    padding: 18px;

}
.numerotelephone h3{

    margin-top: 45px;
}

input.numerotel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
}
.adresse {
    padding: 18px;

}

input.adressetexte{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: nowrap; */
    width: 35vw;
}
.codepostal{
    padding: 18px;

}

input.codeville {
    display: flex;
    justify-content: center;
    align-items: center;
    width:35vw;
}

#Recherche{
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}
#afficheDuDetail{
    width:20%;
}
.Salle{
    text-decoration: underline;
}
#information{
    margin-top: 20px;
    width: 100vw;
    padding: clamp(1rem,5vw,8rem);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
}
.info{
    width: 210px;
    height: 20rem;

}
.info2{
    width: 500px;
    height: 20rem;

}

.button-85 {
    margin-top: 20px;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-85:before {
    content: "";
    background: linear-gradient(
            45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.reserve{
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;



}

button{
    margin: auto;
    width: 50%;


}
.trait{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 70vw;
    height: 2px;
    background-color: #868686;
    border-radius: 10px;
}
#avis{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}
.liste_avis{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.avis1{
    width: 70vw;
}
.star{
    color: crimson;
    font-size: 15px;
    font-weight: bolder;
}
.pseudo_date{
    font-size: 15px;
    font-weight: bolder;


}
.trait_avis{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 55vw;
    height: 1px;
    background-color: #868686;
    border-radius: 10px;
}
.avis_bouton{
    border: gray;
    width: 200px;
    height: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    background-color: #9640d7;
}

#iframeZone{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:20px;

}
.iframe {
    border: 1px solid black;
    width: 50vw;
    height: 50vh;

}

#imageFlou{
    background-size: cover;
    filter: blur(15px);
    z-index: 1;


}
.image1Flou{
    background-size: cover;
    width: 100vw;
    height: 40vh;

}
#img_concert{

    height: 70vh;
    margin-left: 100px;
    margin-top: -200px;
    display: flex;
    justify-content: flex-start;
    z-index: 2;
}
#encadreDuDetail{
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    z-index: 1;
    justify-content: flex-start;


}
.kololo{
    width: 30%;
    height:30rem;

}
.titreDuDetail{
    margin-top: 100px;
    width: 40vw;
    height:20rem;
    margin-left: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.titreDuDetail h1{
    font-size: 50px;
    color: white;
}
.guest{

    font-size: 30px;
    color: black;
    background-color : white;
    margin-top:30px;
    font-weight: bolder;

}

.top10{
    background-color: #ED4E50;
    width: 11vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 7px;
}
.top10 p{
    margin: auto;
}
.fa-star{
    color: crimson;
    margin-bottom: 5px;
}

.katrestar{
    color: crimson;
    font-size: 20px;
    margin-top:20px;
    font-weight: bolder;
}

















.info p{
    color: #0f172a;
    font-size: 17px;
    margin-bottom: 20px;

}
.info a{
    color: #0f172a;
    font-size: 20px;
}
.formul {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.h1{
    justify-content: center;
    align-items: center;
    display: flex;
}
.formulaire {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.formulaire input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.formulaire button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #f9c700;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #ffffff;
    text-decoration: none;
}
.formulaire .carre {
    display: none;
}
.Salle{
    display: flex;
    width: 100vw;
    height: fit-content;
    flex-wrap: wrap;
    justify-content: left;
}
#Salle h1{

    margin-top: 50px;
    margin-left: 15.5vw;
    font-size: 30px;
    font-family: "Fjalla One";

}
.encadreSalle{
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    margin-bottom: 2rem;
}






.carteSalle img{
    box-shadow: 2px 2px 2px 2px rgb(184, 184, 184);
    width:15vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    border-radius: 8px 8px 0px 0px;
    background-color: rgb(145, 68, 68);
    width: 100%;
}
.fa-calendar-days{
    color: rgb(75, 73, 74);

}
.fa-location-dot{
    color: rgb(75, 73, 74);
}


.afficheSalle{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px 20px;

}
.carteSalle {
    width: 25rem;
}
.carteSalle > img{
    width: 100%;
}
.carteBasSalle{
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 8px 8px;
    box-shadow: 2px 2px 2px 2px rgb(184, 184, 184);
    width: 25rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.carteBasSalle p{

    margin-left: 5px;
    height: 2vh;



}
.fa-star{
    color: crimson;
    margin-bottom: 5px;
}


.p1{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bolder;
    font-family: "Fjalla One";
}
.p2{
    color: rgb(0, 0, 0);

    font-family: "Fjalla One";
}
.p3{
    color: rgb(0, 0, 0);
    font-family: "Fjalla One";
}

.messageInscriToi{
    color: #000000;
    text-decoration: underline;
    background-color: transparent;
}
.Titre_manif{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Titre_manif h1{
    font-size: 70px;
    font-weight: bolder;
}
.prix{
    color: crimson;
    font-size: 30px;
    font-weight: bolder;

}
.p1{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bolder;
    font-family: "Fjalla One";
}
.p2{
    color: rgb(0, 0, 0);

    font-family: "Fjalla One";
}
.p3{
    color: rgb(0, 0, 0);
    font-family: "Fjalla One";
}
.p4{
    color: rgb(0, 0, 0);
    font-family: "Fjalla One";
}

