<link href="{{ asset('style.css') }}" rel="stylesheet" />




{% block body %}
    <html>


    <div id="etapePanier1">
        <p><span class="petitEtape">1. Ma Commande</span><span class="grandEtape">2. Mes Coordonées</span><span class="petitEtape">3. Paiement</span></p>
    </div></br>
    <div id="LaPageCoo">
        <div id="ajouteradresse">
            <div class="carre">
                <h1>Ajouter une adresse</h1>

                <div class="PaysRegion">
                    <h3>Pays/Region</h3>
                    <select name= »Choix>
                        <option>France</option>
                        <option value= »lien 1″>Allemagne</option>
                        <option value= »lien 2″>Espagne</option>
                        <option value= »lien 1″>Angleterre</option>
                        <option value= »lien 2″>Italie</option>
                        <option value= »lien 1″>Portugal</option>
                        <option value= »lien 2″>Serbie</option>
                        <option value= »lien 1″>Irlande</option>
                        <option value= »lien 2″>Ecosse</option>
                    </select>

                </div>
                <div class="Nomcomplet">
                    <h3>Nom complet</h3>
                    <input type="text" class="texte"  placeholder="John Doe">
                </div>
                <div class="numerotelephone">
                    <h3>Numéro de téléphone</h3>
                    <input type="text" class="numerotel"  placeholder="+33 6 66 66 66 66">
                </div></br>
                <div class="adresse">
                    <h3>Adresse</h3>
                    <input type="text" class="adressetexte"  placeholder="Adresse"></br>
                </div>
                <div class="codepostal">
                    <h3>Code postal</h3>
                    <input type="text" class="codeville"  placeholder="10000"></br>
                    <h3>Ville</h3>
                    <input type="text" class="codeville"  placeholder="Troyes">
                </div></br>



                <form>
                    <input type="checkbox" class="checkbox" name="choix1" value="1"> Faire de cette adresse mon adresse par défaut

                </form></br>
                <a href="/paiement">
                    <button class="button-23" role="button">Valider et utiliser cette adresse</button>
                </a>






            </div>
        </div>
        </html>

{% endblock %}