{% extends 'base.html.twig' %}

{% block title %}Hello CompteController!{% endblock %}

{% block body %}
<h1>Bonjour Monsieur ou Madame</h1>
    <div class="MailDuCompte">{{ app.user.email }}</div>

{% endblock %}
