{% extends 'base.html.twig' %}

{% block title %}Hello CompteController!{% endblock %}

{% block body %}
    <div id="PageCompteOk">
        <div class="ToutPageCompteOk">
            <div class="InfoConnexionClient">
                <div class="TraitAcoterInfo"></div>
                <p class="GrandTexteInfo">INFORMATION DE CONNEXION</p>
                <div class="TraitAcoterInfo"></div>
            </div>
            <div class="LeMailETC">
                <p class="emailEtMDP">Votre EMAIL : {{ app.user.email }}</p>
                <p class="emailEtMDP">Votre MOT DE PASSE : *********</p>

            </div>
        </div>

    </div>


    <style>
        #PageCompteOk{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 80vh;

        }
        .ToutPageCompteOk{
            width: 65vw;
            height: 70vh;
        }
        .InfoConnexionClient{
            display: flex;
            justify-content: space-evenly;
            width: 65vw;
            align-items: center;

        }
        .TraitAcoterInfo{
            width: 15vw;
            height: 4px;
            background-color: black;
        }
        .GrandTexteInfo{
            font-size: 30px;
            font-weight: bolder;
        }
        .LeMailETC{
            margin-top: 100px;
            display: flex;
            flex-direction: column;

        }
        .emailEtMDP{
            font-size: 20px;
            margin: 40px;
            font-weight: bold;
        }

    </style>

{% endblock %}
