{% extends 'base.html.twig' %}

{% block title %}AccueilController!{% endblock %}

{% block body %}




<nav class="menu-container">
    <!-- burger menu -->
    <input type="checkbox" aria-label="Toggle menu" />
    <span></span>
    <span></span>
    <span></span>

    <!-- logo -->
    <a href="#" class="menu-logo">
        <img src="../sae203___/logo.png" alt="My Awesome Website"/>
    </a>

    <!-- menu items -->
    <div class="menu">


        <a href="accueil">
            Accueil
        </a>

        <a href="manif">
            Manifestations
        </a>






        <a href="logout">
            <i class="fa-solid fa-cart-shopping"></i>

        </a>



        <a href="login">
            <i class="fa-regular fa-user"></i>
        </a>



    </div>
</nav>
<div id="heroImage"><img src="https://www.francebillet.com/static_lotus/uploads/public/FBCOM/1122/bandeau-contextualisation-generique_desktop.jpg"></div>

<div id="accueil">
    <div id="noel">
        <h1>Noël, le moment d'offrir un moment magique à ses proches</h1>
        <div id="encadre">
            <div class="affiche">
                <div class="carte">
                    <img src="https://d1k4bi32qf3nf2.cloudfront.net/thumb@2x/product/2022/01/bouderbala_1641465086.jpg.webp">



                </div>
                <div class="carteBas">
                    <p class="p1"> Concert de Gazo</p>
                    <p class="p2"> <i class="fa-solid fa-location-dot"></i>Paris Sud</p>

                    <p class="p3"> <i class="fa-solid fa-calendar-days "></i>  27 janvier 2022</p>
                    <p class="p4"> Dès <span class="prix">25$</span></p>
                </div>
            </div>
            <div class="affiche">
                <div class="carte">
                    <img src="https://d1k4bi32qf3nf2.cloudfront.net/thumb@2x/product/2022/01/bouderbala_1641465086.jpg.webp">



                </div>
                <div class="carteBas">
                    <p class="p1"> Concert de Gazo</p>
                    <p class="p2"> <i class="fa-solid fa-location-dot"></i>Paris Sud</p>

                    <p class="p3"> <i class="fa-solid fa-calendar-days "></i>  27 janvier 2022</p>
                    <p class="p4"> Dès <span class="prix">25$</span></p>
                </div>
            </div>
            <div class="affiche">
                <div class="carte">
                    <img src="https://d1k4bi32qf3nf2.cloudfront.net/thumb@2x/product/2022/01/bouderbala_1641465086.jpg.webp">



                </div>
                <div class="carteBas">
                    <p class="p1"> Concert de Gazo</p>
                    <p class="p2"> <i class="fa-solid fa-location-dot"></i>Paris Sud</p>

                    <p class="p3"> <i class="fa-solid fa-calendar-days "></i>  27 janvier 2022</p>
                    <p class="p4"> Dès <span class="prix">25$</span></p>
                </div>
            </div>
            <div class="affiche">
                <div class="carte">
                    <img src="https://d1k4bi32qf3nf2.cloudfront.net/thumb@2x/product/2022/01/bouderbala_1641465086.jpg.webp">



                </div>
                <div class="carteBas">
                    <p class="p1"> Concert de Gazo</p>
                    <p class="p2"> <i class="fa-solid fa-location-dot"></i>Paris Sud</p>

                    <p class="p3"> <i class="fa-solid fa-calendar-days "></i>  27 janvier 2022</p>
                    <p class="p4"> Dès <span class="prix">25$</span></p>
                </div>
            </div>

        </div>
    </div>
</div>




{% endblock %}
