{% extends 'base.html.twig' %}

{% block title %}Hello MerciController!{% endblock %}

{% block body %}
    <h1>Merci {{ app.user.email }} pour votre commande, consultez vos mails afin de recevoir votre E-Ticket</h1>
{% endblock %}
