<footer class="section bg-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="">
                    <h6 class="footer-heading text-uppercase text-white">A Propos</h6>
                    <ul class="list-unstyled footer-link mt-4">
                        <li><a href="/manif">Blog</a></li>
                        <li><a href="https://www.economie.gouv.fr/dgccrf/Publications/Vie-pratique/Fiches-pratiques/Conditions-generales-de-vente">Conditions générale de ventes</a></li>
                        <li><a href="https://www.diplomatie.gouv.fr/fr/mentions-legales/politique-de-confidentialite/">Mentions legales</a></li>
                        <li><a href="https://www.diplomatie.gouv.fr/fr/mentions-legales/politique-de-confidentialite/">Politique de confidentialité</a></li>
                        <li><a href="https://www.cnil.fr/fr/cookies-et-autres-traceurs/regles/cookies/que-dit-la-loi#:~:text=Le%20consentement%20doit%20%C3%AAtre%20pr%C3%A9alable,ou%20lus%20sur%20son%20terminal.">Cookie</a></li>
                        <li><a href="https://www.cnil.fr/fr/cookies-et-autres-traceurs/regles/cookies/que-dit-la-loi#:~:text=Le%20consentement%20doit%20%C3%AAtre%20pr%C3%A9alable,ou%20lus%20sur%20son%20terminal.">Paramétrer les cookies</a></li>
                        <li><a href="https://www.litige.fr/articles/annulation-de-commande-comment-annuler">Garantie annulation</a></li>



                    </ul>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="">
                    <h6 class="footer-heading text-uppercase text-white">Professionnels</h6>
                    <ul class="list-unstyled footer-link mt-4">
                        <li><a href="https://www.hec.edu/fr/lp-entreprises-partenaires">Entreprise Partenaire</a></li>
                        <li><a href="https://www.radins.com/budget/faire-des-economies/quels-sont-les-meilleurs-sites-dachat-groupe/11655">Acheter en groupe</a></li>
                        <li><a href="https://espaceclientpro.orange.fr/login">Espace Pro</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="">
                    <h6 class="footer-heading text-uppercase text-white">Aide</h6>
                    <ul class="list-unstyled footer-link mt-4">
                        <li><a href="https://help.ticketmaster.fr/hc/fr">Contact</a></li>
                        <li><a href="https://help.ticketmaster.fr/hc/fr">FAQ</a></li>
                        <li><a href="https://help.ticketmaster.fr/hc/fr">Services</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="">
                    <h6 class="footer-heading text-uppercase text-white">Contact</h6>
                    <p class="contact-info mt-4">Par téléphone</p>
                    <p class="contact-info">+33 7 67 97 80 77</p>
                    <p class="contact-info mt-4">Par Mail</p>
                    <p class="contact-info">nassim.ouali.pro@gmail.com</p>
                    <div class="mt-5">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="https://fr-fr.facebook.com/"><i class="fab facebook footer-social-icon fa-facebook-f"></i></i></a></li>
                            <li class="list-inline-item"><a href="https://twitter.com/"><i class="fab twitter footer-social-icon fa-twitter"></i></i></a></li>
                            <li class="list-inline-item"><a href="https://support.google.com/sites/answer/6372878?hl=fr"><i class="fab google footer-social-icon fa-google"></i></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="text-center mt-5">
        <p class="footer-alt mb-0 f-14">2021 © MMI EVENTS</p>
    </div>
</footer>

<style>
    .bg-footer {
        background-color: #33383c;
        padding: 50px 0 30px;
    }
    .footer-heading {
        letter-spacing: 2px;
    }

    .footer-link a {
        color: #acacac;
        line-height: 40px;
        font-size: 14px;
        transition: all 0.5s;
    }

    .footer-link a:hover {
        color: #1bbc9b;
    }

    .contact-info {
        color: #acacac;
        font-size: 14px;
    }

    .footer-social-icon {
        font-size: 15px;
        height: 34px;
        width: 34px;
        line-height: 34px;
        border-radius: 3px;
        text-align: center;
        display: inline-block;
    }

    .facebook {
        background-color: #4e71a8;
        color: #ffffff;
    }

    .twitter {
        background-color: #55acee;
        color: #ffffff;
    }

    .google {
        background-color: #d6492f;
        color: #ffffff;
    }

    .apple {
        background-color: #424041;
        color: #ffffff;
    }

    .footer-alt {
        color: #acacac;
    }

    .footer-heading {
        position: relative;
        padding-bottom: 12px;
    }

    .footer-heading:after {
        content: '';
        width: 25px;
        border-bottom: 1px solid #FFF;
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        border-bottom: 1px solid #1bbc9b;
    }
    footer {
        margin-top: 100px;
    }
</style>