
<nav class="navbar">
    <ul class="navbar-menu">
        <li class="navbar-item logo">
            <a href="#" class="navbar-link">
                <span class="navbar-title">WAWASENSEI</span>
                <i class="fas fa-chevron-right navbar-icon"></i>
            </a>
        </li>
        <li class="navbar-item">
            <a href="#" class="navbar-link">
                <i class="fas fa-home navbar-icon"></i>
                <span class="navbar-title">Home</span>
            </a>
        </li>
        <li class="navbar-item">
            <a href="#" class="navbar-link">
                <i class="fas fa-folder navbar-icon"></i>
                <span class="navbar-title">Folders</span>
            </a>
        </li>
        <li class="navbar-item">
            <a href="#" class="navbar-link">
                <i class="fas fa-bell navbar-icon"></i>
                <span class="navbar-title">Notifications</span>
            </a>
        </li>
        <li class="navbar-item">
            <a href="#" class="navbar-link">
                <i class="fas fa-user navbar-icon"></i>
                <span class="navbar-title">Me</span>
            </a>
        </li>
        <li class="navbar-item">
            <a href="#" class="navbar-link">
                <i class="fas fa-phone navbar-icon"></i>
                <span class="navbar-title">Contact</span>
            </a>
        </li>
        <li class="navbar-item">
            <a href="#" class="navbar-link">
                <i class="fas fa-sign-out-alt navbar-icon"></i>
                <span class="navbar-title">Exit</span>
            </a>
        </li>
    </ul>
</nav>








<style>
    :root {
        --navbar-background-color: #f2f2f2;
        --navbar-item-hovered-color:white;
        --navbar-separator-color:#ececec;
        --navbar-icon-color:#646c79;
        --navbar-text-color:black;
        --navbar-transition-speed: .2s;
        --primary-color:#7C4DFF;
        --navbar-logo-background-color:#e2dfe4;
    }


    .navbar {
        width:5rem;
        position:fixed;
        top:0px;
        left:0px;
        bottom:0px;
        background:var(--navbar-background-color);
        box-shadow: rgba(12,43, 30, 0.2) 0 4px 14px;
        transition: width var(--navbar-transition-speed) ease;
    }

    .navbar:hover {
        width:15rem;
    }

    .navbar-menu {
        list-style: none;
        padding:0;
        margin:0;
        display:flex;
        flex-direction: column;
        align-items: center;
        height:100%;
    }

    .navbar-item {
        width: 100%;
        border-bottom:solid 1px var(--navbar-separator-color);
        transition: background-color var(--navbar-transition-speed);
    }

    .navbar-item:hover {
        background-color:var(--navbar-item-hovered-color);
    }

    .navbar-item:last-child {
        margin-top:auto;
    }

    .navbar-link {
        display:flex;
        align-items: center;
        justify-content: flex-start;
        height:5rem;
        width:100%;
        text-decoration: none;
    }

    .navbar-icon {
        text-align: center;
        font-size: 1.5rem;
        min-width: 2rem;
        margin: 0 1.5rem;
        color:var(--navbar-icon-color);
        transition:var(--navbar-transition-speed);
    }

    .navbar-item:hover .navbar-icon {
        color:var(--primary-color);
    }

    .navbar-title {
        color:var(--navbar-text-color);
    }

    .navbar:not(:hover) .navbar-title {
        display:none;
    }

    .logo {
        background:var(--navbar-logo-background-color);
    }

    .logo .navbar-title {
        font-size:1.5rem;
        font-weight:bold;
        margin-left:1.5rem;
    }

    .navbar:hover .logo .navbar-icon {
        transform:rotate(180deg);
    }

    /*
    ** RESPONSIVE
    */

    @media only screen and (max-width:1024px) {
        .navbar {
            top:auto;
            width:100%;
            bottom:0px;
        }

        .navbar:hover {
            width:100%;
        }

        .navbar-menu {
            flex-direction: row;
        }

        .logo {
            display:none;
        }

        main {
            margin-left:0;
            margin-bottom:5rem;
        }

        .navbar:hover .navbar-title {
            display:none;
        }

        .navbar-icon {
            min-width:auto;
            margin:0;
        }

        .navbar-link {
            justify-content: center;
        }
    }
</style>






