<nav class="menu-container">
    <!-- burger menu -->
    <input type="checkbox" aria-label="Toggle menu" />
    <span></span>
    <span></span>
    <span></span>

    <!-- logo -->
    <a href="#" class="menu-logo">
        <img class="logoPNG" src="{{ asset('mmi.png') }}" alt="Mon logo"/>
    </a>

    <!-- menu items -->
    <div class="menu">
        <ul>

            <li>
                <a href="">
                    Accueil
                </a>
            </li>
            <li>
                <a href="">
                    Représentation
                </a>
            </li>
            <li>
                <a href="">
                    Salle
                </a>
            </li>
            <li>
                <a href="">
                    Déconnexion
                </a>
            </li>
            <li>
                <a href="">
                    Admin
                </a>
            </li>
        </ul>
        <ul>
            <li>
                {% if app.user %}
                <a href="{{ path('app_compte') }}">

                    <i class="fa-solid fa-user">

                    </i></a>
            </li>
                {% else %}
                    <li>

                <a href="{{ path('app_login') }}">
                    <button class="button-23" role="button">Mon Compte</button>

                </a>

            </li>
            {% endif %}

            <li>
                <a href="{{ path('app_panier') }}">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span class="rondChiffrePanier" id='panier'>0</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<style>


    .menu-container {
        position: relative;
        display: flex;
        align-items: center;
        background: -webkit-linear-gradient(157deg,#e90964,#ea215c 34%,#eb3059 49%,#ec4354 59%,#ef6348);
        color: #cdcdcd;
        padding: 20px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
        box-sizing: border-box;
    }

    .menu-logo {
        line-height: 0;
        margin: 0 20px;
    }

    .menu-logo img {
        max-height: 140px;
        max-width: 140px;
        flex-shrink: 0;
    }

    .menu-container a {
        text-decoration: none;
        color: #232323;
        transition: color 0.3s ease;
    }



    .menu-container input {
        display: block;
        width: 35px;
        height: 25px;
        margin: 0;
        position: absolute;
        cursor: pointer;
        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */
        -webkit-touch-callout: none;
    }

    /* Burger menu */
    .menu-container span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #cdcdcd;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
    }

    .menu-container span:first-child {
        transform-origin: 0% 0%;
    }

    .menu-container span:nth-child(3) {
        transform-origin: 0% 100%;
    }

    .menu-container input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(3px,-1px);
        background: #232323;
    }

    .menu-container input:checked ~ span:nth-child(4) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    .menu-container input:checked ~ span:nth-child(3) {
        transform: rotate(-45deg) translate(-5px,11px);
    }

    .menu ul {
        list-style: none;
    }

    .menu li {
        padding: 10px 0;
        font-size: 22px;
    }

    /* mobile styles */
    @media only screen and (max-width: 562px) {
        .menu-container {
            flex-direction: column;
            align-items: flex-start;
        }

        .menu-logo {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        .menu-logo img {
            max-height: 70px;
        }

        .menu {
            position: absolute;
            box-sizing: border-box;
            width: 300px;
            left: -300px;
            top: 0;
            margin: -20px;
            padding: 75px 50px 50px;
            background: #cdcdcd;
            -webkit-font-smoothing: antialiased;
            /* to stop flickering of text in safari */
            transform-origin: 0% 0%;
            transform: translateX(0%);
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        }

        .menu-container input:checked ~ .menu {
            transform: translateX(100%);
        }
    }

    /* desktop styles */
    @media only screen and (min-width: 563px) {
        .menu-container {
            width: 100%;
            height:15vh;
        }

        .menu-container a {
            color: white;
        }

        .menu-container input {
            display: none;
        }

        /* Burger menu */
        .menu-container span {
            display: none;
        }

        .menu {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .menu ul {
            display: flex;
            padding: 0;
        }

        .menu li {
            padding: 0 20px;
        }
    }
    .logoPNG {
        margin-bottom: -60px;

    }
    .button-23 {
        background-color: #FFFFFF;
        border: 1px solid #222222;
        border-radius: 8px;
        box-sizing: border-box;
        color: #222222;
        cursor: pointer;
        display: inline-block;
        font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        margin: 0;
        outline: none;
        padding: 13px 23px;
        position: relative;
        text-align: center;
        text-decoration: none;
        touch-action: manipulation;
        transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
        user-select: none;
        -webkit-user-select: none;
        width: auto;
    }

    .button-23:focus-visible {
        box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
        transition: box-shadow .2s;
    }

    .button-23:active {
        background-color: #F7F7F7;
        border-color: #000000;
        transform: scale(.96);
    }

    .button-23:disabled {
        border-color: #DDDDDD;
        color: #DDDDDD;
        cursor: not-allowed;
        opacity: 1;
    }

</style>