{% extends 'base.html.twig' %}

{% block title %}Hello AdministrationController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue Maitre nassim✅</h1>
    <img src="https://img1.picmix.com/output/stamp/normal/0/1/3/4/1114310_88515.gif">

    <ul>
        <li>Modifier les manifestations</a></code></li>
        <li>Modifier les lieux</a></code></li>
    </ul>
</div>
{% endblock %}
